<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>psdtowebCrach04A6.psd</title>
		<link href="..\static\css\styles.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div id="background"> 
			
			
			<div id="Background"><img src="..\static\{{a}}"></div>
    
		</div>


		{% for x in lista %}
				<div id="controle{{lista.index(x)+1}}">
				 
					<p> {{x}}</p>
				</div>
					
			{% endfor %}
			
		
 </body>
 </html>